---
import Icon from 'astro-icon'
import data from '../data/pricing.js'
---

<section class="container grid-lg">
  <h2 class="h1 section-header">Price for Everyone</h2>
  <p class="text-muted narrow section-sub-header">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
    maxime.
  </p>
  <div class="card-wrapper">
    {
      data.map((card) => (
        <div class={`card grid-md ${card.featured ? 'featured' : ''}`}>
          <div class="card-price">{card.price}</div>
          <div class="card-plan">{card.plan}</div>
          <p class="card-description">{card.description}</p>
          <ul class="detail-list">
            {card.details.map((detail) => (
              <li class="detail">
                <Icon name="fe:check-circle-o" width={25} /> {detail}
              </li>
            ))}
          </ul>
          <a href="#" class="btn btn--secondary">
            {card.button.text}
          </a>
          <div>{card.subtext}</div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .section-header {
  }
  .section-sub-header {
    text-align: center;
    font-size: var(--font-size-1);
  }
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--size-fluid-2);
  }
  .card {
    padding: var(--size-4);
    border: 1px solid var(--text-alt);
  }
  .card.featured {
    position: relative;
    border-color: var(--accent2);
    border-width: 3px;
  }
  .card.featured::before {
    position: absolute;
    content: 'featured';
    top: -2.5%;
    font-size: var(--font-size-1);
    background-color: var(--accent2);
    border-radius: var(--radius-round);
    padding-inline: var(--size-fluid-1);
  }
  .card-price {
    font-size: var(--font-size-fluid-3);
    font-weight: 600;
  }
  .card-plan {
    border-radius: var(--radius-round);
    background-color: var(--text-alt);
    padding-inline: var(--size-2);
    padding-block: var(--size-1);
    font-size: var(--font-size-fluid-0);
    text-transform: uppercase;
    color: var(--bkg);
    font-weight: 600;
  }
  .detai-list {
  }
  .detail {
    display: flex;
    align-items: center;
    gap: var(--size-2);
  }

  @media (min-width: 992px) {
    .card-wrapper {
      display: grid;
      place-items: center;
      grid-template-columns: repeat(3, 300px);
      gap: var(--size-fluid-1);
    }
    .card.featured {
      transform: scale(1.05);
      border-width: 3px;
    }
  }
</style>
